<div class="container-fluid mb-3 animated slow fadeIn">
  <div class="col ml-1 mb-3">
      <h2 class="act crisp">RESUME </h2>
  </div>  
  </div>

  <div class="container-fluid animated slow fadeIn">
  
    <div class="row">
        <!-- Educational Qualification -->
          <div class="col-12 col-sm-6">
            <div class="col w-100 mt-2 mb-4">
                <h4 class="crisp" style="color:white;font-size: 22px;letter-spacing: 1px;">EDUCATIONAL QUALIFICATION</h4>
            </div>

            <div class="row my-4">
              <div class="col edQuali">
                <div class="col">
                  <p class="crisp" style="color:white;font-size: 24px;"> <span>
                    <img style="height: 20px;position: relative;top: -2px;margin-right: 3px;" src="/assets/img/ul.png"> 
                  </span> Bachelor's Degree </p>
                </div>
                <div class="row">
                  <div class="col mb-3 ml-3" >
                      <span style="color: #dbdbdb;font-weight: 200;font-size: 16px;">Bachelor of Engineering / <span class="act" style="font-size:14px;">Aug 2014 - Dec 2018 </span></span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-10 ml-3" >
                      <p class="crisp" style="font-size: 15px;">Bachelor of Engineering with major in Computer Science at Technocrats Institute of Technology &amp; Science , Bhopal</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row my-4">
                <div class="col edu1">
                  <div class="col">
                    <p class="crisp" style="color:white;font-size: 24px;"> <span>
                      <img style="height: 20px;position: relative;top: -2px;margin-right: 3px;" src="/assets/img/ul.png"> 
                    </span> Bachelor's Degree </p>
                  </div>
                  <div class="row">
                    <div class="col mb-3 ml-3" >
                        <span style="color: #dbdbdb;font-weight: 200;font-size: 16px;">Bachelor of Engineering / <span class="act" style="font-size:14px;">Aug 2014 - Dec 2018 </span></span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-10 ml-3" >
                        <p class="crisp" style="font-size: 15px;">Bachelor of Engineering with major in Computer Science at Technocrats Institute of Technology &amp; Science , Bhopal</p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col">
                  <div class="col">
                    <p class="crisp" style="color:white;font-size: 24px;"> <span>
                      <img style="height: 20px;position: relative;top: -2px;margin-right: 3px;" src="/assets/img/ul.png"> 
                    </span> Bachelor's Degree </p>
                  </div>
                  <div class="row">
                    <div class="col mb-3 ml-3" >
                        <span style="color: #dbdbdb;font-weight: 200;font-size: 16px;">Bachelor of Engineering / <span class="act" style="font-size:14px;">Aug 2014 - Dec 2018 </span></span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-10 ml-3" >
                        <p class="crisp" style="font-size: 15px;">Bachelor of Engineering with major in Computer Science at Technocrats Institute of Technology &amp; Science , Bhopal</p>
                    </div>
                  </div>
                </div>
            </div>

          </div>
          <!-- Educational Qualification ends -->

          <!-- Projects Undertaken -->
          
          <div class="col-12 col-sm-6">
            <div class="col w-100 mt-2 mb-4 ">
                <h4 class=" crisp" style="color:white;font-size: 22px;letter-spacing: 1px;">PROJECTS UNDERTAKEN</h4>
            </div>
             
    
              <div class="row my-4">
                  <div class="col">
                    <div class="col">
                      <p class="crisp" style="color:white;font-size: 24px;"> <span>
                        <img style="height: 20px;position: relative;top: -2px;margin-right: 3px;" src="/assets/img/ul.png"> 
                      </span> Home Automation using <strong class="act"> IoT</strong> </p>
                    </div>
                    <div class="row">
                      <div class="col mb-3 ml-3" >
                          <span style="color: #dbdbdb;font-weight: 200;font-size: 16px;">College Major Project / <span class="act" style="font-size:14px;">March 2018 - April 2018 </span></span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 ml-3" >
                          <p class="crisp" style="font-size: 15px;">
                              <span class="act">Equipments Used: </span> <span class="">  Arduino , Esp8266 Wi-Fi module, 4- channel relay</span>
                            </p>
                            <p class="crisp" style="font-size: 15px;">
                              <span class="act">Role: </span> <span class=""> Programmer</span>
                            </p>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="row my-4">
                  <div class="col">
                    <div class="col">
                      <p class="crisp" style="color:white;font-size: 24px;"> <span>
                        <img style="height: 20px;position: relative;top: -2px;margin-right: 3px;" src="/assets/img/ul.png"> 
                      </span> Stella - Digital Assistant </p>
                    </div>
                    <div class="row">
                      <div class="col mb-3 ml-3" >
                          <span style="color: #dbdbdb;font-weight: 200;font-size: 16px;">Personal Project / <span class="act" style="font-size:14px;">Dec 2017 - Jan 2018 </span></span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 ml-3" >
                          <p class="crisp" style="font-size: 15px;">
                              <span class="act">Written in: </span> Python 3
                            </p>
                            <p class="crisp" style="font-size: 15px;">
                                <span class="act">API's Used: </span> Google Speech API  (Speech to text)
                            </p>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="row my-4">
                  <div class="col">
                    <div class="col">
                      <p class="crisp" style="color:white;font-size: 24px;"> <span>
                        <img style="height: 20px;position: relative;top: -2px;margin-right: 3px;" src="/assets/img/ul.png"> 
                      </span>  Sentiment Analysis - Twitter</p>
                    </div>
                    <div class="row">
                      <div class="col mb-3 ml-3" >
                          <span style="color: #dbdbdb;font-weight: 200;font-size: 16px;">Personal Project / <span class="act" style="font-size:14px;">Oct 2017 - Nov 2017 </span></span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 ml-3" >
                          <p class="crisp" style="font-size: 15px;">
                              <span class="act">Written in: </span> Python 3
                            </p>
                            <p class="crisp" style="font-size: 15px;">
                                <span class="act">API's Used: </span> Twitter API, NLTK
                            </p>
                      </div>
                    </div>
                  </div>
              </div>
            
    
            </div>
          <!--Projects Undertaken ends  -->

      </div>  
  
  </div>